@model MyLeasing.Web.Models.ObjectNotFoundViewModel
@{
    ViewData["Title"] = Model.ObjectTypeName+" not found";
}

<h2>@ViewData["Title"]</h2>

<p>Could not find the requested @Model.ObjectTypeName.</p>