@model MyLeasing.Web.Models.OwnerViewModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>
<h4>Owner</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <partial name="_Input" />

            <div class="form-group">
                <button type="submit" class="btn btn-primary"><i class="fa fa-plus-square"></i> Create</button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

