@model MyLeasing.Web.Models.OwnerViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Owner</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="PhotoId" />

            <partial name="_Input" />

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>

    <div class="col-md-6">
        <img src="@Url.Content(Model.PhotoFullPath)" alt="Photo" style="max-width:256px;max-height:256px;">
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

